<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2 sidebar clearfix">
        <div class="text-center">
          <h2 class="brand">OSC Admin panel<br>
          </h2>
          <h4 class="admin">Hello, <span> {{user.username}}</span></h4>
          <img src="resources/images/avatar.png" class="user-avatar" /><br/>
          <a ng-click="logout()" class="logout-link">Logout</a>
        </div>
        <ul class="nav nav-sidebar left-sidebar">
          <li><a ui-sref="dashboard" ui-sref-active-eq="activeLink">Dashboard</a></li>
          <li><a ui-sref="folder" ui-sref-active="activeLink" >Folder</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main wrapper clearfix" ui-view>
        <h1 class="dash-title">Dashboard</h1>
        <h4>Click to see list of folders and files <a class="btn-dash" ui-sref="folder">Folders</a></h4>
      </div>
    </div>
  </div>
</div>