<h1 class="dash-title">List users</h1>

<div class="list-people">
    <ul>
        <li>
        <h4>
            <span class="tb-title">Num</span>
            <span  class="tb-title">Username</span>
            <span  class="tb-title">Email</span>
            <span  class="tb-title">Admin</span>
         </h4>
        </li>
        <li ng-repeat="user in listUsers track by $index">
            <h4>
                <span>{{$index +1}}</span>
                <span>{{ user.username }}</span>
                <span>{{ user.email }}</span>
                <span><input type="checkbox" name="" value="" ng-click="update(user, $index)" ng-checked="user.isAdmin" ></span>
            </h4>
        </li>
    </ul>
</div>