<div class="folder col-lg-2">
  <table class="table table-hover">
    <thead>
    <tr>
      <th colspan="2">Naziv foldera</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="folder in folders">
      <td class="md-col-5" colspan="5">
        <button type="button" class="btn btn-link"
                ng-click="listFolder(folder)">
          {{folder}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-lg-10">
  <ul class="nav nav-tabs">
    <li class="active">
      <a ng-click="toggleView('list')" type="button"
      data-toggle="tab">List
      </a>
    </li>
    <li><a ng-click="toggleView('grid')" type="button"
           data-toggle="tab">Grid</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="list" ng-class="(viewType=='list')? 'active':''">
      <div class="col-md-2 column">
        <table class="table table-striped">
          <thead>
          <th>Filename</th>
          </thead>
          <tbody>
          <tr ng-repeat="file in files">
            <td>{{file.filename}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane" id="grid" ng-class="(viewType=='grid')? 'active':''">
      <div class="column">
        <div class="file-box" ng-repeat="file in files">
          <img ng-src="data:image/png;base64,{{file.content}}"/>
          <div class="info-box">
            <span>{{file.filename}}</span>
            <button class="delete-button" ng-click="deleteFile(file)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
